<div ng-controller="AuthorizationController">
    <form>
        <label for="login">login</label>
        <input ng-model="authorization.login" type="text" id="login">

        <label for="password">password</label>
        <input ng-model="authorization.password" type="text" id="password">

        <button ng-click="authorization.submit()">Войти</button>
    </form>
    <div ng-click="getPosts()">Посты</div>
    <ul ng-show="post.length" ng-repeat="p in post">
        <li>{{ p }}</li>
    </ul>
</div>